<div class="jumbotron" style="width:97.5%; margin-left:auto; margin-right:auto; position:relative; top:-50px;">    
    <!-- Section: Team v.3 -->
<section class="team-section my-5">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold text-center my-5">Salut, voici notre équipe lol mdr 😇❤️😻</h2>
  <!-- Section description -->
  <p class="grey-text text-center w-responsive mx-auto mb-5"><%=Faker::GameOfThrones.quote%> <%=Faker::Seinfeld.quote%></p>

  <!-- Grid row-->
  <div class="row text-center text-md-left">
      

    <!-- Grid column -->
    <div class="col-xl-6 col-lg-12 mb-5 d-md-flex justify-content-between">
      <div class="avatar mb-md-0 mb-4 mx-4">
        <img src="/assets/jose.jpg" class="rounded z-depth-1" alt="Sample avatar" style="width:250px; height:250px;">
         
      </div>
      <div class="mx-4">
        <h4 class="font-weight-bold mb-3"><a href="" class="btn btn-warning">Jose</a></h4>
        <h6 class="font-weight-bold grey-text mb-3">Web Designer</h6>
        <p class="grey-text"><%=Faker::GameOfThrones.quote%> <%=Faker::Seinfeld.quote%></p>
        <!-- Facebook-->
        <a class="p-2 fa-lg fb-ic">
          <i class="fab fa-facebook-f"> </i>
        </a>
        <!-- Twitter -->
        <a class="p-2 fa-lg tw-ic">
          <i class="fab fa-twitter"> </i>
        </a>
        <!--Dribbble -->
        <a class="p-2 fa-lg dribbble-ic">
          <i class="fab fa-dribbble"> </i>
            
        </a>
      </div>
         
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-xl-6 col-lg-12 mb-5 d-md-flex justify-content-between">
      <div class="avatar mb-md-0 mb-4 mx-4">
        <img src="/assets/herilala.jpg" class="rounded z-depth-1" alt="Sample avatar" style="width:250px; height:250px;">
      </div>
      <div class="mx-4">
        <h4 class="font-weight-bold mb-3"><a href="" class="btn btn-primary">Herilala</a></h4>
        <h6 class="font-weight-bold grey-text mb-3">Photographer</h6>
        <p class="grey-text"><%=Faker::GameOfThrones.quote%> <%=Faker::Seinfeld.quote%></p>
        <!-- Facebook-->
        <a class="p-2 fa-lg fb-ic">
          <i class="fab fa-facebook-f"> </i>
        </a>
        <!--YouTube -->
        <a class="p-2 fa-lg yt-ic">
          <i class="fab fa-youtube"> </i>
        </a>
        <!--Instagram-->
        <a class="p-2 fa-lg ins-ic">
          <i class="fab fa-instagram"> </i>
        </a>
      </div>
    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row-->
    <!-- Grid row-->
  <div class="row text-center text-md-left">

    <!-- Grid column -->
    <div class="col-xl-6 col-lg-12 mb-5 d-md-flex justify-content-between">
      <div class="avatar mb-md-0 mb-4 mx-4">
        <img src="/assets/ando.jpg" class="rounded z-depth-1" alt="Sample avatar" style="width:250px; height:250px;">
      </div>
      <div class="mx-4">
        <h4 class="font-weight-bold mb-3"><a href="" class="btn btn-secondary">Ando</a></h4>
        <h6 class="font-weight-bold grey-text mb-3">View Master</h6>
        <p class="grey-text"><%=Faker::GameOfThrones.quote%> <%=Faker::Seinfeld.quote%></p>
        <!-- Facebook-->
        <a class="p-2 fa-lg fb-ic">
          <i class="fab fa-facebook-f"> </i>
        </a>
        <!-- Twitter -->
        <a class="p-2 fa-lg tw-ic">
          <i class="fab fa-twitter"> </i>
        </a>
        <!--Dribbble -->
        <a class="p-2 fa-lg dribbble-ic">
          <i class="fab fa-dribbble"> </i>
        </a>
      </div>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-xl-6 col-lg-12 mb-5 d-md-flex justify-content-between">
      <div class="avatar mb-md-0 mb-4 mx-4">
        <img src="/assets/parany.jpg" class="rounded z-depth-1" alt="Sample avatar" style="width:250px; height:250px;">
      </div>
      <div class="mx-4">
        <h4 class="font-weight-bold mb-3"><a href="" class="btn btn-deep-orange">Parany</a></h4>
        <h6 class="font-weight-bold grey-text mb-3">Manager</h6>
        <p class="grey-text"><%=Faker::GameOfThrones.quote%> <%=Faker::Seinfeld.quote%></p>
        <!-- Facebook-->
        <a class="p-2 fa-lg fb-ic">
          <i class="fab fa-facebook-f"> </i>
        </a>
        <!--YouTube -->
        <a class="p-2 fa-lg yt-ic">
          <i class="fab fa-youtube"> </i>
        </a>
        <!--Instagram-->
        <a class="p-2 fa-lg ins-ic">
          <i class="fab fa-instagram"> </i>
        </a>
      </div>
    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row-->

  <!-- Grid row-->
  <div class="row text-center text-md-left">

    

    <!-- Grid column -->
    <div class="col-xl-6 col-lg-12 d-md-flex justify-content-between">
      <div class="avatar mb-md-0 mb-4 mx-4">
        <img src="/assets/herna.jpg" class="rounded z-depth-1" alt="Sample avatar" style="width:250px; height:250px;">
      </div>
      <div class="mx-4">
        <h4 class="font-weight-bold mb-3"><a href="" class="btn btn-danger">Herna</a></h4>
        <h6 class="font-weight-bold grey-text mb-3">Front-end Developer</h6>
        <p class="grey-text"><%=Faker::GameOfThrones.quote%> <%=Faker::Seinfeld.quote%></p>
        <!-- Google +-->
        <a class="p-2 fa-lg gplus-ic">
          <i class="fab fa-google-plus-g"> </i>
        </a>
        <!--LinkedIn -->
        <a class="p-2 fa-lg li-ic">
          <i class="fab fa-linkedin-in"> </i>
        </a>
        <!--Email-->
        <a class="p-2 fa-lg email-ic">
          <i class="fas fa-envelope"> </i>
        </a>
      </div>
    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row-->

</section>
<!-- Section: Team v.3 -->
    
    </p>
    <hr class="my-2">
    
</div>